@font-face {
  font-family: "Galano";
  src: local("GalanoGrotesque"),
    url("/static/fonts/GalanoGrotesque-Bold.woff2") format("woff2"),
    url("/static/fonts/GalanoGrotesque-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("/static/fonts/Poppins-Regular.woff2") format("woff2"),
    url("/static/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("/static/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins-Bold.woff2") format("woff2"),
    url("/static/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  --color-primary: #2479ff;
  --color-secondary: #41ef8b;
  --color-tertiary: #161621;
  --color-error: #ee4400;
  --color-font: #161621;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f8f8f9;
  --font-primary: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-secondary: "Galano", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  margin: 0;
  background-color: #f8f8f9;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main > *:not(header) {
  animation: fadeIn 400ms forwards;
}

h1,
h2,
h4,
p {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: calc(36px + (49 - 36) * (100vw - 350px) / (1440 - 350));
  font-weight: 700;
  line-height: 1.3em;
}

h2 {
  font-size: calc(28px + (32 - 28) * (100vw - 400px) / (1440 - 400));
  font-weight: 800;
  line-height: 1.2em;
}

h3 {
  font-family: "Galano", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(22px + (25 - 22) * (100vw - 400px) / (1440 - 400));
  line-height: 1.5em;
}

h4 {
  font-size: 12px;
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #2479ff;
}

.paragraph,
p {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.7em;
  color: #555e80;
}

*::-moz-selection {
  color: #fff;
  background-color: rgb(36, 121, 255);
}

*::selection {
  color: #fff;
  background-color: rgb(36, 121, 255);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: --color-font;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  box-shadow: 0 0 0 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input[value]:not([value=""]) + label {
  opacity: 0;
}

input:not([type="checkbox"]) {
  appearance: none;
  border: 1px solid transparent;
  border-radius: 3px;
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.8em 1em;
  width: 100%;
  z-index: 10;
  caret-color: #41ef8b;
  transition: border-color 200ms ease-in;
}

input + label {
  position: absolute;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #2479ff;
  letter-spacing: 0.7px;
  left: 1.5em;
  top: 50%;
  text-transform: capitalize;
  transform: translateY(-50%);
  transition: opacity 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
}

.input__wrapper {
  position: relative;
  height: 3.75rem;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.input__wrapper:last-of-type {
  margin-bottom: 0.5rem;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:active,
*:focus {
  outline: none;
}

input:not([type="checkbox"]):active,
input:not([type="checkbox"]):focus {
  outline: none;
  border-color: #41ef8b;
}

::placeholder {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #2479ff;
}

svg {
  fill: currentColor;
}

a.link {
  text-decoration: none;
  color: #2479ff;
  font-weight: 700;
}

.cta {
  display: inline-block;
  text-align: center;
  margin: 0.7em auto;
  border: none;
  padding: 0 0.2em;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  transition: all 350ms ease-in;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  color: --color-font;
  border-radius: 1px;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 #2479ff;
}

.cta:hover {
  color: #fff;
  box-shadow: inset 0 -3em 0 0 #2479ff;
}
/*CTA*/

hr {
  margin: 1rem auto;
  height: 2px;
  width: 5rem;
  border: none;
  background-color: #41ef8b;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
}

.select__label {
  pointer-events: none;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #2479ff;
  letter-spacing: 0.7px;
  left: 1.5em;
  text-transform: capitalize;
  z-index: 11;
}

.select__wrapper {
  position: relative;
  height: 3.75rem;
  width: 100%;
  max-width: 350px;
  margin: 0.5rem auto;
}

.select__control {
  height: 100%;
  border: none;
  border-radius: 3px;
}

.select__placeholder {
  color: #000;
  font-weight: 700;
}

.select__value-container {
  padding: 0 1em;
  position: relative;
}

.select__indicator-separator {
  display: none;
}

.select__dropdown-indicator {
  color: #2479ff;
}

.select__value-container .select__option {
  position: absolute;
}

.select__menu {
  z-index: 1000 !important;
}

.select__option {
  display: flex !important;
  align-items: center;
  font-weight: 700;
}

.select__option-icon {
  display: inline-block;
  width: 30px;
  margin-right: 1em;
  background-color: #fff;
}

@media (min-width: 800px) {
  .two-columns--responsive {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
