@font-face {
  font-family: "Galano";
  src: local('GalanoGrotesque'), url("/static/fonts/GalanoGrotesque-Bold.woff2") format("woff2"),
    url("/static/fonts/GalanoGrotesque-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local('Poppins'), url("/static/fonts/Poppins-Regular.woff2") format("woff2"),
    url("/static/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("/static/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins-Bold.woff2") format("woff2"),
    url("/static/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  --color-primary: #2479FF;
  --color-secondary: #41EF8B;
  --color-tertiary: #161621;
  --color-error: #ee4400;
  --color-font: var(--color-tertiary);
  --color-bg-primary: #FFF;
  --color-bg-secondary: #F8F8F9;
  --font-primary: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-secondary: "Galano", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  margin: 0;
  background-color: var(--color-bg-secondary);
  font-family: var(--font-primary)
}

h1,
h2,
h4,
p {
  font-family: var(--font-primary);
}

h1 {
  font-size: calc(36px + (49 - 36) * (100vw - 350px) / (1440 - 350));
  font-weight: 700;
  line-height: 1.3em;
}

h2 {
  font-size: calc(32px + (35 - 32) * (100vw - 400px) / (1440 - 400));
  font-weight: 800;
  line-height: 1.2em;
}

h3 {
  font-family: var(--font-secondary);
  font-size: calc(22px + (25 - 22) * (100vw - 400px) / (1440 - 400));
  line-height: 1.5em;
}

h4 {
  font-size: 12px;
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--color-primary);
}

.paragraph,
p {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.7em;
  color: #555E80;
}

*::-moz-selection {
  color: var(--color-bg-primary);
  background-color: rgb(36, 121, 255);
}

*::selection {
  color: var(--color-bg-primary);
  background-color: rgb(36, 121, 255);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-font);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-primary) inset;
  box-shadow: 0 0 0px 1000px var(--color-bg-primary) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:active,
*:focus {
  outline: none;
}

input:not([type="checkbox"]):active,
input:not([type="checkbox"]):focus {
  outline: 1px solid var(--color-secondary);
}

svg {
  fill: currentColor;
}